.row-header {
    background-color:  rgba(180, 199, 12, 0.856);
    width: 100%;
    height: 50px;
}
.row-content {
    width: 100%;
    background-color: aqua;
    height: 85vh;

}
.row-footer {
    margin: 0;
    padding: 0;
    background-color: rgba(204, 30, 30, 0.671);
    width: 100%;
    height: 40px;
}

